.section {
  margin: 2rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}
.text {
  padding: 0 12px;
  font-size: large;
}
.userInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
